<h1>New Session</h1>
<%= form_tag sessions_path do %>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <%= label_tag :password %>
  <%= text_field_tag :password %>
  <%= submit_tag "Login" %>
<% end %>
